@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root[data-theme="light"] {
    --neutral-foreground-1: 0deg 0% 7%;
    --neutral-foreground-2: 0deg 0% 84%;
    --neutral-foreground-3: 0deg 0% 40%;
    --neutral-foreground-link: 0deg 0% 54%;
    --neutral-foreground-link-hover: 0deg 0% 7%;
    --neutral-foreground-inverted: 0deg 0% 100%;
    --neutral-foreground-inverted-hover: 0deg 0% 96%;

    --neutral-background-1: 0deg 0% 100%;
    --neutral-background-2: 0deg 0% 95%;
    --neutral-background-3: 0deg 0% 85%;
    --neutral-background-inverted: 0deg 0% 7%;
    --neutral-background-inverted-hover: 0deg 0% 15%;

    --neutral-stroke: 0deg 0% 96%;
    --neutral-stroke-selected: 0deg 0% 68%;

    --brand-1: 251deg 73% 56%;
    --brand-2: 253deg 60% 44%;
    --brand-1-hover: 228deg 49% 65%;

    --white: 0deg 0% 100%;
    --black: 0deg 0% 7%;
  }

  :root[data-theme="dark"] {
    --neutral-foreground-1: 0deg 0% 100%;
    --neutral-foreground-2: 0deg 0% 41%;
    --neutral-foreground-3: 0deg 0% 56%;
    --neutral-foreground-link: 0deg 0% 68%;
    --neutral-foreground-link-hover: 0deg 0% 95%;
    --neutral-foreground-inverted: 0deg 0% 7%;
    --neutral-foreground-inverted-hover: 0deg 0% 23%;

    --neutral-background-1: 0deg 0% 7%;
    --neutral-background-2: 0deg 0% 12%;
    --neutral-background-3: 0deg 0% 16%;
    --neutral-background-inverted: 0deg 0% 100%;
    --neutral-background-inverted-hover: 0deg 0% 96%;

    --neutral-stroke: 0deg 0% 16%;
    --neutral-stroke-selected: 0deg 0% 100%;

    --brand-1: 226deg 68% 59%;
    --brand-2: 253deg 60% 44%;
    --brand-1-hover: 228deg 49% 65%;

    --white: 0deg 0% 100%;
    --black: 0deg 0% 7%;
  }
}